# Flutter - UTF8 Fix
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Firebase
.firebase/
firebase-debug.log
firebase-tools-instant-win.exe

# Android
.gradle/
local.properties
*.keystore
*.jks

# IDEs
.idea/
.vscode/
